

# Ignorar archivos compilados y cachés
__pycache__/
*.pyc
*.pyo
*.pyd
*.pth
*.so

# Ignorar archivos de configuración del entorno
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

/procesamiento  imagenes/bluetooth/

# Ignorar archivos de modelos y datos grandes
procesamiento  imagenes/*.pth
procesamiento  imagenes/data/